$tvf-blue-color: #00a3e0;
$tvf-blue-light-color: #62b5e5;
$tvf-red-color: #e30613;
$tvf-orange-color: orange;
$tvf-black-color: #000000;
$tvf-gray-color: gray;
$tvf-white-color: #fff;
$tvf-white-light-color: #f8f8fa;

$tvf-border-color: #495057;
$tvf-border-10-color: #b5b5b5;
$tvf-border-light-color: #d0d0ce;
$tvf-border-light-10-color: #e3e3e3;
$tvf-border-light-20-color: #e8e8e8;
$tvf-border-light-30-color: #f6f6f6;
$tvf-separator-color: #e6e6e6;

$tvf-header-text-color: #333333;

$tvf-input-text-color: #75787b;
$tvf-input-text-10-color: #53565a;
$tvf-optional-text-color: #a7a8aa;

$tvf-input-disabled-color: #959595;

$tvf-warning-color: #8a2f02;
